.button {
    font-style: italic;
    font-size: 40px;
    tranparent: true;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 156, 243);
    width: 1350px;
}



/* Card */
.perfil-card {
    background: #fff;
    width: 320px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    transform: translate(185%, -22%);

}

/* Header */
.perfil-header {
    background: rgb(6, 156, 243);
    color: rgb(206, 9, 9);
    text-align: center;
    padding: 20px;
}

.avatar {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Body */
.perfil-body {
    padding: 20px;
}

.perfil-body label {
    font-size: 14px;
    color: #000000;
}

.perfil-body input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid #ccc;

}

/* Botão */
.btn-salvar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgb(6, 156, 243);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-salvar:hover {
    background: #f2f0f3;
}

.titulo {
    font-size: 50px;
    font-weight: 700;
    color: #fffdfd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.Sair {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgb(6, 156, 243);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 600px;
    left: 500px;

}

.Sair:hover {
    background: #ff0000;
}

body {
    background-image: url("imagens/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    position: relative;
}

/* camada escura por cima */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.4);
    /* controla a escuridão */
    z-index: -1;
}