/*Titulo com botao*/
.button {
    font-style: italic;
    font-size: 40px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    /*background-color: rgb(6, 156, 243);*/
    width: 100%;
}

/* Estilos para o corpo da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(204, 220, 235);

}

body {
    background-image: url("imagens/fundo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    position: relative;
}

/* camada escura por cima */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(13, 103, 238, 0.856);
    /* controla a escuridão */
    z-index: -1;
}



/* Estilos para o conteúdo principal */
.welcome {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 10px;
    font-size: 50px;
    color: rgb(1, 16, 44);
    font-weight: 700;
    margin: 20px;

    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
}

.P {
    font-size: 22px;
    color: #070707;
    margin: 20px;
    margin-top: -20px;
}

.Sair {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: rgb(250, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 600px;
    left: 500px;

}